.boton-estado {
  width: fit-content;
  border-radius: 9px;
  background: linear-gradient(145deg, #f7f7f7, #f0f0f0);
  box-shadow: 2px 2px 3px #d5d5d5, -2px -2px 4px #ebebeb;
  padding: 4px 2px;
  display: flex;
  gap: 4px;
  margin: 5px;
  max-width: 43%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.boton-estado i {
  cursor       : pointer;
  border-radius: 10px;
  padding      : 3px;
}

.room-groups {
  margin    : 0 auto;
  width     : 97%;
  max-height: 90vh;
  gap       : 10px;
  overflow  : hidden;
  display   : flex;
  flex-wrap : wrap;
}

.room-group {
  border-radius: 20px;
  background   : linear-gradient(145deg, #f7f7f7, #f0f0f0);
  box-shadow   : 2px 2px 3px #d5d5d5, -2px -2px 4px #ebebeb;
  padding      : 15px 5px;
}

.room-grid {
  display              : grid;
  grid-template-columns: repeat(auto-fill, minmax(109px, 1fr));
  gap                  : 5px;

  padding: 5px;
}

.infoTipoHabitacion {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.room {
  display         : flex;
  align-items     : center;
  padding         : 6px;
  gap             : 4px;
  border-radius   : 12px;
  text-align      : center;
  /* border-radius: 20px; */
  flex-direction  : column;
  box-shadow      : 2px 2px 3px #d5d5d5, -2px -2px 4px #ebebeb;
  transition      : all 0.2s;
  cursor: pointer;
}

.room i {
  font-size: 1.3rem;

}

.room:hover {
  transition: all 0.3s;
  transform : scale(1.025)
}

.status-icon {
  width: 90%;

}

.room-number {
  font-weight: bold;
  font-size  : 1.3rem;
}

p {
  margin: 0;
}

.icon-status_container {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  gap            : 5px;
  justify-content: space-between;
}

.room-status {
  margin-bottom  : 5px;
  clip-path: content-box;
  /* margin-right: 2px; */
}

.room-time {
  font-weight: bold;
}

.time-remaining {
  animation: blink-animation 1s linear infinite;
}

@keyframes blink-animation {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

h1 {
  font-size    : 24px;
  font-weight  : bold;
  margin-bottom: 20px;
}

h2.titulo-tipo__habitacion {
  margin: 0 8px;
  font-size: 1.3rem;
  border-radius: 10px;
  padding: 10px 10px 7px;
  background: #ffffff;
  box-shadow: inset 3px 3px 3px #dbdbdb, inset -4px -4px 5px #f2f2f2;
}
.room-info {
  display        : flex;
  flex-direction : row;
  align-items    : flex-end;
  width          : 92%;
  flex-wrap      : nowrap;
  font-size      : 1rem;
  justify-content: space-between;
}

.free {
  background-color: #37c556;
  /* Verde oscuro */
}

.maintenance {
  background-color: #ffa500;
  /* Naranja */
}

.dirty {
  background-color: #c70039;
  /* Rojo oscuro */
}

.occupied {
  background-color: #5f0303;
  /* Azul oscuro */
}

.cleaning {
  background-color: rgb(255, 225, 0);
  /* Amarillo claro */
}

.countdown {
  background-color: #ff0000;
  color           : #fff;
}